body {
    font-family: 'Helvetica', 'Arial', sans-serif;
    overflow: hidden;
}
body.loading input#password {
    background: #ccc;
    color: #ccc;
}

input#password {
    font-family: 'Courier New', fixed;
    font-weight: bold;
    text-align: center;
    background: #fff;
    color: #000;
    border: 1px solid #777;
    border-radius: 3px;
    padding: .2em .4em;
}

#hostname-container {
    text-align: center;
    padding-bottom: .5em;
}

#hostname > span {
    font-weight: bold;
    cursor: pointer;
}
#hostname > span, #hostname:hover > span:hover, #hostname:hover > span:hover ~ span {
    opacity: 1;
}
#hostname > span.skipped, #hostname:hover > span {
    opacity: .3;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5em;
}

.container > .break {
    flex-basis: 100%;
    height: 0;
}

.container svg {
    display: block;
}

.container #eye, .container #copy, .container #lock {
    cursor: pointer;
    opacity: .5;
}
.container #eye:hover, .container #copy:hover, .container #copy.done, .container #lock:hover {
    opacity: 1;
}

.container #eye svg {
    display: none;
}
.container #eye.open svg.open, .container #eye.closed svg.closed {
    display: block;
}

.container #copy.done {
    cursor: default;
}
.container #copy svg.done, .container #copy.done svg.copy {
    display: none;
}
.container #copy.done svg.done, .container #copy svg.copy {
    display: block;
}
