body {
    font-family: 'Helvetica', 'Arial', sans-serif;
}

form {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3em;
}

img.logo {
    height: 4em;
}
